:root {
  --prism-font-family: "Vazir Code Hack";
}

* {
  font-family: "Vazirmatn";
}

h1, h2, h3,h4,h5,h6 {
  font-family: "Lahzeh";
  font-weight: bold;
}

::selection {
  background-color: #00bcff;
  color: black;
}

#slide-content {
  direction: rtl;
}

.slidev-code,
.slidev-code *,
.note,
.note * {
  direction: ltr;
  font-family: var(--prism-font-family) !important;
}

li ol,
li ul {
  margin-inline-start: 2em;
}
