:root {
  --prism-font-family: "Vazir Code Hack";
}

::selection {
  background-color: #00bcff;
  color: black;
}

#slide-content * {
  direction: rtl;
  font-family: "Vazirmatn";
}

#slide-content h1, 
#slide-content h2, 
#slide-content h3,
#slide-content h4,
#slide-content h5,
#slide-content h6 {
  font-family: "Lahzeh";
}

#slide-content h1,
#slide-content h2{
  font-weight: bold;
}

.slidev-code,
.slidev-code *,
.note,
.note * {
  direction: ltr;
  font-family: var(--prism-font-family) !important;
}

li ol,
li ul {
  margin-inline-start: 2em;
}
